#board {
  background-color: red;

  height: 50vh;
  min-width: 100%;

  display: flex;

}

.row {
  display: flex;
}

.square {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  text-align: center;
  vertical-align: middle;
  font-size: 1.2em;

  flex: 1;

  background-color: #16A085;
  margin-bottom: -0.55%;
  margin-left: -0.25%;
  margin-right: -0.25%;

  overflow: hidden;
}

.fog {
  position: relative;
  background: black;
  color: black;
}

