#board {
  background-color: red;

  height: 50vh;
  min-width: 100%;

  display: inline-block;
}

.row {
  display: flex;

  height: 50%;
}

.square {
  height: 50%;
  width: 20%;

  background-color: blue;
  border: solid .5em red;
  padding: 5%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
