#board {
  background-color: red;

  height: 50vh;
  min-width: 100%;

  display: inline-block;
}

.row {
  display: flex;

  height: 10%;
}

.square {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  text-align: center;

  height: 10%;
  max-width: 5%;
  min-width: 5%;

  background-color: gray;
  border: solid .1em lightblue;
  padding: 2%;
}
